header {
  display: flex;
  align-items: center;
  height: 48px;
  width: 375px;
  justify-content: space-between;
}

#mylogo {
  height: hug(40px);
  width: 100(px);
  top: 4px;
  left: 12px;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 12px;
  align-items: center;
  justify-content: center;
}

#logoNest {
  width: hug(76px);
  height: hug(20px);
  align-items: center;
}

#text1 {
  color: #6070ff;
  font-size: 18px;
  line-height: 20px;
  align-self: center;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

#hambrg {
  height: hug(40px);
  width: hug(40px);
  top: 4px;
  padding: 8px;
  left: 311px;
}

#Logo {
  height: 24px;
  width: 24px;
}

#content {
  width: 327px;
  height: 150px;
}

#text2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
}

#firstpg {
  width: hug(375px);
  height: hug(604px);
  top: 92px;
  padding-top: 114px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 114px;
  gap: 12px;
  background-image: url("header-shapes mobile.png");
  background-repeat: no-repeat;
  margin: 0;
}

#textbody {
  width: 327px;
  height: 146px;
}

#text3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

#connect {
  width: hug(117px);
  height: hug(24px);
  gap: 16px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  color: #7f8cff;
}

#icons {
  width: 171px;
  height: 20px;
  justify-content: space-between;
  align-items: center;
}

#twitter {
  width: 19.99px;
  height: 19.99px;
  top: 470px;
  left: 24px;
}

#linkedin {
  width: 19.99px;
  height: 19.99px;
  top: 470px;
  left: 63px;
}

#m {
  width: 19.99px;
  height: 16px;
  top: 472px;
  left: 103px;
}

#git {
  width: 17.99px;
  height: 19.99px;
  top: 470px;
  left: 143px;
}

#v {
  width: 14.17px;
  height: 19.99px;
  top: 470px;
  left: 170px;
}

#works {
  width: hug (375px)px;
  height: hug (2788px)px;
  top: 718px;
  padding: 114px 24px 114px 24px;
  gap: 88px;
}

#work1 {
  width: hug (327px)px;
  height: hug (552px)px;
  padding: 16px 0 0 0;
  gap: 12px;
  border-radius: 16px;
  border: 1px;
}

#fbimg {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.primarytext1 {
  width: hug (295px)px;
  height: hug (288px)px;
  gap: 12px;
}

.tonic {
  width: hug (295px)px;
  height: hug (80px)px;
  gap: 12px;
}

.frame1 {
  width: 295px;
  height: 36px;
}

.tonictext {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: #172b4d;
}

.frame2 {
  display: flex;
  align-items: center;
  width: hug (236px)px;
  height: hug (32px)px;
  gap: 12px;
  opacity: 0;
}

.canopy {
  width: hug (55px)px;
  height: hug (32px)px;
  padding: 8px 0 8px 0;
  gap: 0;
  opacity: 0;
}

.canopy2 {
  width: 55px;
  height: 16px;
  gap: 0;
  opacity: 0;
}

.canopytext {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #344563;
}

.counter1 {
  width: 8px;
  height: 8px;
  gap: 0;
  opacity: 0;
}

.role {
  width: hug (88px)px;
  height: hug (32px)px;
  padding: 8px 0 8px 0;
  gap: 0;
  opacity: 0;
}

.backend {
  width: 88px;
  height: 16px;
  gap: 0;
  opacity: 0;
}

.roletext {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #7a869a;
}

.counter2 {
  width: 8px;
  height: 8px;
  gap: 0;
  opacity: 0;
}

.year {
  width: hug (29px)px;
  height: hug (32px)px;
  padding: 8px 0 8px 0;
  gap: 0;
  opacity: 0;
}

.year1 {
  width: 29px;
  height: 16px;
  gap: 0;
  opacity: 0;
}

.yeartext {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #7a869a;
}

.primarytext2 {
  width: 295px;
  height: 76px;
  gap: 0;
  opacity: 0;
}

.text1 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

.horizontal-list {
  list-style: none;
  display: flex;
  width: hug (214px)px;
  height: hug (24px)px;
  gap: 8px;
  opacity: 0;
  justify-content: flex-start;
  padding: 0;
}

.li1 {
  display: flex;
  align-items: center;
  width: hug (57px)px;
  height: hug (24px)px;
  padding: 4px 12px 4px 12px;
  gap: 0;
  border-radius: 8px;
  opacity: 0;
  background: #ebebff;
}

.tag1 {
  align-items: center;
  display: flex;
  width: 33px;
  height: 16px;
  gap: 0;
  opacity: 0;
}

.tagtext1 {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #6070ff;
}

.li2 {
  display: flex;
  align-items: center;
  width: hug (49px)px;
  height: hug (24px)px;
  padding: 4px 12px 4px 12px;
  gap: 0;
  border-radius: 8px;
  opacity: 0;
  background: #ebebff;
}

.tag2 {
  align-items: center;
  display: flex;
  width: 25px;
  height: 16px;
  gap: 0;
  opacity: 0;
}

.tagtext2 {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #6070ff;
}

.li3 {
  display: flex;
  align-items: center;
  width: hug (92px)px;
  height: hug (24px)px;
  padding: 4px 12px 4px 12px;
  gap: 0;
  border-radius: 8px;
  opacity: 0;
  background: #ebebff;
}

.tag3 {
  align-items: center;
  display: flex;
  width: 68px;
  height: 16px;
  gap: 0;
  opacity: 0;
}

.tagtext3 {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #6070ff;
}

.action {
  display: flex;
  align-items: center;
  width: 295px;
  height: 72px;
  padding: 12px 0 12px 0;
  gap: 0;
  opacity: 0;
}

.normalbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 48%;
  top: 12px;
  padding: 12px;
  gap: 10px;
  border-radius: 8px;
  opacity: 1px;
  border: 1px solid #6070ff;
}

.project {
  display: flex;
  align-items: center;
  width: hug(102px) px;
  height: hug(24px) px;
  gap: 0;
  opacity: 1px;
}

.projecttext {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  color: #396df2;
}

#work2 {
  width: hug (327px)px;
  height: hug (596px)px;
  padding: 16px 0 0 0;
  gap: 12px;
  border-radius: 16px;
  border: 1px;
  opacity: 0;
}

#snapshoot1 {
  width: hug(295px) px;
  height: hug(220px) px;
  gap: 0;
  border-radius: 8px;
  opacity: 0;
}

.leftblock {
  width: hug (295px)px;
  height: hug (332px)px;
  gap: 12px;
  opacity: 0;
}

.primarytext11 {
  width: hug (295px)px;
  height: hug (124px)px;
  gap: 12px;
  opacity: 0;
}

.frame11 {
  width: 295px;
  height: 80px;
  gap: 0;
  opacity: 1px;
}

.multitext {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 33px;
  line-height: 44px;
  text-align: left;
  color: #172b4d;
}

#work3 {
  width: hug (327px)px;
  height: hug (552px)px;
  padding: 16px 0 0 0;
  gap: 12px;
  border-radius: 16px 0 0 0;
  border: 1px 0 0 0;
  opacity: 0;
}

#snapshoot2 {
  width: 295px;
  height: 220px;
  gap: 0;
  border-radius: 8px;
  opacity: 0;
}
